 :root {
     --primary-color: #4CAF50;
     --secondary-color: #2E7D32;
     --tech-blue: skyblue;
 }

 .logo {
     transition: transform 0.3s ease;
 }

 .logo.scaled {
     transform: scale(1.5);
 }

 .brand-highlight {
     color: var(--tech-blue);
 }