<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="../css/style.css">
</head>
<nav class="navbar navbar-expand-lg bg-success navbar-dark shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold d-flex align-items-center gap-1" href="../index.html">
      <img src="../images/logo.jpg" alt="SphereSenseTech Logo" width="50" height="50" class="rounded-circle logo" onclick="this.classList.toggle('scaled');"
        style="object-fit: cover;">
      <span>SphereSense<span class="brand-highlight">Tech</span></span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="../pages/smart-irrigation.html">Smart Irrigation</a></li>
        <li class="nav-item"><a class="nav-link" href="../pages/soil-analysis.html">Soil Analysis</a></li>
        <li class="nav-item"><a class="nav-link" href="../pages/crop-monitoring.html">Crop Monitoring</a></li>
        <li class="nav-item"><a class="nav-link" href="../pages/climate-tracking.html">Climate Tracking</a></li>
        <li class="nav-item"><a class="nav-link" href="../pages/team.html">Team</a></li>
        <li class="nav-item"><a class="nav-link" href="../pages/faq.html">FAQs</a></li>
        <li class="nav-item"><a class="nav-link" href="../pages/contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>